.modal {
    --bs-modal-width: 100%;
    background-color: #fafaf2bd;
    
  }


.modal-content{
    height: 90vh;
    width: 90vw;
    background-color: #fafaf2;
 
  }



  /* Remove transform animation, but keep fade-in animation */
.modal.fade .modal-dialog {
  transform: none; /* Remove any transform animation */
}

/* Remove other animations except for fade-in */
.modal.fade {
  transition: opacity 0.5s ease-in; /* Keep only opacity transition for fade-in */
}


/* Remove border from modal content */
.modal-content {
  
  border: none;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.modal-content{
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")
  ,  linear-gradient(
        to top right,
        /* #212168c6, */
        #f7f6f2,
        #f3ead1
      );
}

/* .modal-content {
    background-image: url("../../img/asfalt.png") ;
       background-size:contain;

        -webkit-animation: slidein 120s;
        animation: slidein 120s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
} */

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}