@font-face {
    font-family: HeaderFont;
    src: url("./Heebo-ExtraLight.ttf");
  }

  /* previous: rastaglion.ttf */

  @font-face {
    font-family: UnnaFont;
    src: url("./Unna-Regular.ttf");
  }


  @font-face {
    font-family: GildaFont;
    src:  url("./Heebo-ExtraLight.ttf");
  }

  .content-header{
    font-family: HeaderFont;
    
  }

  .display-6 {
    font-family: GildaFont;
  }