@font-face {
    font-family: RastaglionFont;
    src: url("./rastaglion.ttf");
  }

  /* previous: rastaglion.ttf */

@font-face {
    font-family: UnnaFont;
    src: url("./Unna-Regular.ttf");
  }


@font-face {
    font-family: GildaFont;
    src:  url("./GildaDisplay-Regular.ttf");
  }

  
@font-face {
  font-family: HeeboFont;
  src:  url("./Heebo-ExtraLight.ttf");
}

  .content-header{
    font-family: RastaglionFont;
    
  }

  .display-6 {
    font-family: GildaFont;
  }

  .display-5 {
    font-family: GildaFont;
  }

  .gildafont{
    font-family: GildFont;
  }