


.grow2{
    filter: hue-rotate(-30deg);
    transition: 1s ease;
    }

.grow2:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: hue-rotate(0);
    transition: 0.5s ease;

    
}