.zoom-in{
    transition: all 0.7s;
    filter: hue-rotate(-90deg);
  
}

.zoom-in:hover{
    transition: all .7s;
    filter: hue-rotate(0);
    transform: scale(1.05);
    
}

.zoom-in-apple{
    transition: all 0.7s;
    filter: hue-rotate(-10deg);
    filter: invert(0.8)
  
}

.zoom-in-apple:hover{
    transition: all .7s;
    filter: hue-rotate(0);
    transform: scale(1.05);
    filter: invert(1);
}