.App {
  text-align: center;
}

/* 
//// */



.parallaxcontainer{
  width: "100%";
  height: "100%";
  background-color: #6ec4ef
}



.layer1 {
  background: #F9F6EE50;
}


.layer2 {
  background-color:#FAF9F650 ;
}

.albumimage{
  width: 38%
}

.albumtext{
  width: 30%
}

.logoimage{
  width: 10%
}